services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    expose:
      - "9000" # Portainerがリッスンするポート (HTTPの場合)
      - "9443" # Portainerがリッスンするポート (HTTPSの場合)
    volumes:
      # [変更] podman.sock のパスを指定します (ホストのパスに合わせて変更してください)
      - /run/podman/podman.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: unless-stopped
    networks:
      - fukaya-lab-network
    labels:
      caddy: http://portainer.fukaya-sus.lab
      caddy.reverse_proxy: "{{upstreams 9000}}"

# [追加] ネットワークとボリュームの定義
networks:
  fukaya-lab-network:
    external: true
    name: fukaya-lab-network

volumes:
  portainer_data: